<footer>
    <nav class="botnav">
        <a href="https://bumulaz.github.io/">GitHub.io</a> | <a href="https://github.com/Bumulaz">GitHub</a> | <a href="https://www.freecodecamp.org/Bumulaz">freeCodeCamp</a> |  <a href="https://www.codecademy.com/profiles/Jcastr45">Codecademy</a> | <a href="https://www.linkedin.com/in/joseph-castro-7680bb280/">LinkedIn</a>
    </nav>
    <p class="copyright"><em>Page maintained by BümuEnterprises</em></p>
    <p class="copyright"><em>Joseph &copy;2004</em></p>
</footer>